@import "../common/mixin";
@import "../common/var";

.home-page {
  position: relative;
}

.hero-section {
  padding-top: 8rem;
  @include flx(null, flex-start, space-between);
  .info-content {
    font-family: "Signika Negative", sans-serif;
    .calling-card {
      @include flx(column, center, null, null,  2rem);
      color: #1a1a1a;
      background-color: white;
      text-align: center;
      .calling-avatar {
        align-content: stretch;
        width: 100%;
      }
      .calling-username {
        text-transform: uppercase;
        font-optical-sizing: auto;
        font-size: 48px;
        font-weight: bolder;
        font-style: normal;
      }
      .calling-words {
        font-size: 18px;
      }
    }
    .calling-touch {
      @include flx(row, center, null, null);
      position: relative;
      box-sizing: border-box;
      background-color: $box-bg;
      margin-top: 3rem;
      padding: 1rem;
      border-radius: 100px;
      .touch {
        @include flx(row, center, space-evenly);
        position: absolute;
        border-radius: 100px;
        background-color: $primary-color;
        .bx {
          font-size: 32px !important;
        }
      }
      .title {
        width: 100%;
        text-align: center;
        font-size: 28px;
        font-weight: bold;
      }
    }
  }
  .call-content {
    width: 60%;
    .hero-title {
      font-family: "Edu QLD Beginner", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-size: 64px;
      font-weight: bolder;
    }
    .power-info {
      @include flx(null, flex-start, null);
      .sub-title {
        font-size: 32px;
      }
    }
  }
}


@media (min-width: 1240px) {
  .hero-section {
    .info-content {
      width: 28%;
      .calling-card {
        padding-bottom: 3rem;
      }
    }
    .call-content {
      .our-meta {
        padding: 3rem 0 ;
      }
    }
  }
}

@media (min-width: 1920px) {
  .hero-section {
    .info-content {
      width: 25%;
      .calling-card {
        padding-bottom: 6rem;
      }
    }
    .call-content {
      .our-meta {
        padding: 3rem 0 ;
      }
    }
  }
}
