@import "../common/mixin";

.home-page {
  position: relative;
}

.hero-section {
  padding-top: 8rem;
  @include flx-ss();
  .info-content {

    width: 28%;
    .calling-card {
      background-color: white;
    }
    .info-avtar {
    }
    .info-username {
      color: #1a1a1a;
      text-transform: uppercase;
      font-family: "Signika Negative", sans-serif;
      font-optical-sizing: auto;
      font-size: 36px;
      font-weight: bolder;
      font-style: normal;
    }
  }
  .call-content {
    width: 60%;
    .hero-title {
      font-family: "Edu QLD Beginner", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-size: 64px;
      font-weight: bolder;
    }
  }
}
