
.page {
  width: 100%;
  min-height: 100vh;
}
.section {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.com-container {
  margin: 0 auto;
  padding: 1rem;
  &.container-full {
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1080px) {
  .com-container {
    max-width: 960px;
  }
}

@media (min-width: 1440px) {
  .com-container {
    max-width: 1280px;
  }
}

@media (min-width: 1728px) {
  .com-container {
    max-width: 1420px;
  }
}

@media (min-width: 1920px) {
  .com-container {
    max-width: 1600px;
  }
}
