
.page {
  width: 100%;
  min-height: 100vh;
}

.section {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1080px) {
  .section {
    max-width: 960px;
  }
}

@media (min-width: 1440px) {
  .section {
    max-width: 1080px;
  }
}

@media (min-width: 1680px) {
  .section {
    max-width: 1220px;
  }
}

@media (min-width: 1920px) {
  .section {
    max-width: 1420px;
  }
}
