@mixin flx($direction, $align, $content, $isInline: null, $gap: null, $wrap: null) {

  @if($isInline != null) {
    display: inline-flex;
  }@else {
    display: flex;
  }
  @if($direction != null) {
    flex-direction: $direction;
  }
  @if($align != null) {
    align-items: $align;
  }
  @if($content != null) {
    justify-content: $content;
  }
  @if($gap != null) {
    gap: $gap;
  }
  @if($wrap != null) {
    flex-wrap: $wrap;
  }
}


@mixin grid($colNum, $rowNum, $isInline: null, $gap: null) {
  @if($isInline != null) {
    display: inline-grid;
  }@else {
    display: grid;
  }

  @if($colNum != null) {
    grid-template-columns: repeat(1fr, $colNum);
  }

  @if($rowNum != null) {
    grid-template-columns: repeat(1fr, $rowNum);
  }

  @if($gap != null) {
    gap: $gap;
  }
}

