@mixin flx($direction, $align, $content, $gap: null) {
  display: flex;
  @if($direction != null) {
    flex-direction: $direction;
  }
  @if($align != null) {
    align-items: $align;
  }
  @if($content != null) {
    justify-content: $content;
  }
  @if($gap != null) {
    gap: $gap;
  }
}

