$primary-bg: #f5f5f5;
$primary-bg: #d1cac9;

$primary-color: #303740;
$primary-color-1: #5e687e;
$primary-color-2: #7c8a9f;
$primary-color-3: #303740;

$secondary-color: #cf7507;
$secondary-color-2: #ebdbca;

$extra-color: #f3c802;
$extra-color-1: #e48ca5;
$box-bg: #303435;
