@import "../../common/mixin";

/* Card */
.card-box {
  border-radius: 1rem;
  padding: 2rem 3rem;
  background-color: white;
  &-isPure {
    border-radius: 0;
    padding: 0;
    background-color: transparent;
  }
}


/* Avatar */

.avatar {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 1rem;
  img { display: block; width: 100%; height: 100% }
  &-shape-circle {
    border-radius: 50%;
  }

  &-shape-square {
    border-radius: 12px;
  }
}
.avatar-group {
  position: relative;
  .avatar {
    position: absolute;
  }
}


/* Icon */

.iconfont {
  color: #1a1a1a;
  padding: .35rem;
  border-radius: .5rem;
  &-default {
    @include flx(row, center, center, true);
  }
  &-shape-circle {
    border-radius: 50%;
  }
  &-shape-square {
    border-radius: .5rem;
  }
}
